@top-bar-container-background-color: #2d2b31;
@page-header-background-color:#a9b089;
@link-visited-color:#252c26;
@link-hover-color: #060706;
@nav-bar-background-color: #e0e1dd;

@duration: 450ms;
@tileWidth: calc(100%/5 - 50px);
@tileHeight: 207px;
@iconSize: 50px;
@growFactor: 1.5; // 1.5 times the original size

@moveLeft: calc(-(@tileWidth * (@growFactor - 1) / 2));
@moveRight: calc(@tileWidth * (@growFactor - 1));