@import "constants.less";
html {
  padding: 0;
  margin: 0;
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    background: transparent;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    border: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  form, menu, iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  ol, ul, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

*{
  font-family: 'Roboto', sans-serif;
}

.top-bar-container{
  background:@top-bar-container-background-color;
  padding: 10px 0;
  text-align: center;
  h3{
    font-size: 18px;
    font-style: normal;
    margin: 1px 5px 0;
    color: #B3995A;
    font-weight: bold;
    line-height: 20px;
  }
  p{
    line-height: 18px;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    span{
      font-weight: 700;
    }
  }
}

.page-header {
  background: @page-header-background-color;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-left: 25px;
  height: 127px;

  .panel-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0 0;

    .shipping-info {
      font-size: 17px;
      letter-spacing: 0;
      text-decoration: none;
      font-weight: 700;
      line-height: 1.3;
      position: relative;
      color: white;
      padding-left: 20px;
      &:before{
        position: absolute;
        left: 0;
        top: 4px;
        content: "";
        background-image: url("../images/tis-icon-globe.svg");
        display: inline-block;
        height: 12px;
        width: 12px;
      }
    }

    .account-currency {
      .currency {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
        margin: 15px 0;
        span{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: white;
          display: inline-block;
          margin-bottom: -2px;
          margin-left: 5px;
          position: relative;
          &:after {
            content: "";
            width: 5px;
            height: 5px;
            border-right: 1px solid @page-header-background-color;
            border-bottom: 1px solid @page-header-background-color;
            display: inline-block;
            transform: rotate(45deg);
            position: absolute;
            right: 4px;
            top: 4px;
          }
        }
      }
      .account {
        font-size: 14px;
        font-weight: 700;
        margin: 0 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
        &:after {
          content: "";
          width: 5px;
          height: 5px;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
          display: inline-block;
          transform: rotate(45deg);
          margin-bottom: 3px;
        }
      }
    }
  }

  .header-content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .phone-numbers{
      position: relative;
      padding-left: 20px;
      float: left;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.5px;
      font-size: 15px;
      a{
        color:@link-visited-color;
        text-decoration: none;
        &:hover{
          color:@link-hover-color;
          text-decoration: underline;
        }

      }
      &:before{
        position: absolute;
        left: 0;
        content: "";
        background-image: url("../images/tis-icon-phone.svg");
        display: inline-block;
        height: 15px;
        width: 15px;
      }
    }
    .logo{
      position: absolute;
      top: 95px;
      left: calc(50% - 145px);
      z-index: 5;
    }
    #search{
      margin-right: 40px;
      height: 30px;
      width: 240px;
      border: 0 solid #fff;
      padding: 0 35px 0 9px;
      background: #fff;
      background-clip: padding-box;
      border-radius: 0;
      vertical-align: baseline;
      box-sizing: border-box;
      font: 400 14px Arial;
      &::placeholder{
        text-transform: uppercase;
        color: @link-visited-color;
        font:600 13px Arial;
        background: #fff;
        background-clip: padding-box;
        border: 0 solid #c9cac8;
        border-radius: 0;
        height: 32px;
        line-height: 1.5;
        padding: 0 9px 0 5px;
        vertical-align: baseline;
        width: 100%;
        box-sizing: border-box;
      }
    }
    #cart{
      img{
        margin: 5px 30px -5px -35px;
      }
    }
  }
}

.nav-bar{
  background: @nav-bar-background-color;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  ul {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    li {
      position: relative;
      .nav-menu {
        color: @link-visited-color;
        letter-spacing: 1.5px;
        display: flex;
        padding: 15px 0 15px;
        margin: 0 15px;
        text-decoration: none;
        position: relative;
      }
      .sub-menu {
        display: none;
        border: none;
        width: 100%;
        box-shadow: none;
        border-top: 1px solid #252c26;
        padding: 15px 5px 20px 15px;
        text-align: left;
        background: #e0e1dd;
        font-weight: 400;
        position: absolute;
        left: 15px;
        color: #252c26;
        ul {
          display: block;
        }
      }
      &:hover {
        .nav-menu {
          border-bottom: black 3px solid;
        }
        td {
          vertical-align: top;
        }
        .sub-menu {
          min-width: 200px;
          width: auto;
          padding: 10px;
          display: block;
          z-index: 5;
          box-shadow: 0 5px 5px rgba(0, 0, 0, .19);
          position: absolute;
          text-decoration: none;
          text-transform: capitalize;
          li{
            padding: 5px;
            &:hover{
              background: #ffffff;
            }
          }
          a{
            color: #252c26;
          }
        }
      }
    }
  }
  .sub-menu-title {
    span{
      text-transform: uppercase;
      padding: 0 100px 0 0;
      border-bottom: 1px solid #252c26;
      font-weight: 700;
    }
    min-width: 260px;
    &:hover {
      background: @nav-bar-background-color!important;
    }
  }
}

.hero-image {
  background-image: url('../images/hero-aran-sweaters-2020.jpg');
  width: 100%;
  height: 550px;
  color: #fff;
  font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
  z-index: 1;
  margin-top: -60px;
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    .justify-lower{
      margin-top: 285px;
      .banner-title{
        font-family: Times, serif;
        color: #fff;
        font-size: 50px;
        line-height: 50px;
        font-weight: 300;
        text-shadow: 0 0 30px #000;
        text-align: center;
      }
      .banner-text{
        font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
        color: #ffffff;
        font-size: 24px;
        line-height: 26px;
        font-weight: 500;
        text-shadow: 0 0 22px #000, 0 0 8px #000;
        text-align: center;
      }
      .banner-buttons{
        text-align: center;
        margin-top: 30px;
        a{
          color: white;
          text-transform: uppercase;
          background-color: black;
          padding: 8px 20px;
          transition: color 0.4s ease;
          font-style: normal;
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.banner-footer{
  padding: 10px 10px;
  background-color: #252525;
  text-align: center;
  color: white;
  position: relative;
  span{
    position: relative;
    padding: 0 40px;
    &:before{
      position: absolute;
      left: 0;
      content: "";
      background-image: url("../images/tis-logo2.png");
      display: inline-block;
      width: 18px;
      height: 18px;
      z-index: 50;
      background-size: contain;
    }
    &:after{
      position: absolute;
      right: 0;
      content: "";
      background-image: url("../images/tis-logo2.png");
      display: inline-block;
      width: 18px;
      height: 18px;
      z-index: 50;
      background-size: contain;
    }
  }
}

.widgets{
  .widget-block{
    margin-bottom: 20px;
  }
  .usp-list-block{
    background-color: #f9f9f9;
    padding: 15px;
    .usp-list{
      padding: 0;
      margin: 0 auto;
      text-align: center;
      box-sizing: border-box;

      li{
        list-style: none;
        display: inline-flex;
        min-width: 250px;
        text-align: left;
        margin: 0;
        padding: 10px;
        a{
          color: black;
          text-decoration: none;
          margin-left: 10px;
          strong{
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .featured-categories{
    background-color: white;
    display: flex;
    justify-content: center;
    .featured-category{
      margin: 0 20px;
      box-sizing: border-box;
      img{
        width: 400px;
        height: 120%;
        cursor: pointer;
      }
      .featured-category__content{
        opacity: .7;

        margin-top: -70px;
        text-align: center;
        //margin-bottom: 70px;
        a{
          text-decoration: none;
          padding: 10px 30px;
          color: white;
          text-transform: uppercase;
          background-color: black;
          border-color: white;
          border-width: 1px;
          border-style: solid;
        }
      }
    }
  }
  .ship-container{
    display: flex;
    padding: 25px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/maps.png);
    background-position: 50% 50%;
    background-size: 620px;
    text-transform: uppercase;
    margin-top: 90px;
    .ship-header-text{
      display: block;
      font-family: 'Open Sans', sans-serif;
      color: #202020;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 3px;
    }
    .ship-sub-text{
      color: #333;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
  .exc-hero-banner{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../images/ex_collection_2020.jpg");
    background-position: 50% 0;
    background-size: cover;
    margin-bottom: 20px;
    cursor: pointer;
    .exc-hero-text{
      position: static;
      width: 300px;
      margin-right: 13%;
      flex: 0 0 auto;
      text-align: center;
      .exc-text-heading{
        margin-bottom: 5px;
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 9px #000;
      }
      .exc-text-sub{
        color: #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
        text-shadow: 2px 2px 9px #000;
      }
      .exc-button{
        margin-top: 15px;
        padding: 8px 35px;
        background-color: #fff;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 1px;
        display: inline-block;
        border: 0;
        line-height: inherit;
        border-radius: 0;
        &:hover{
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .featured-categories__2x{
    display: flex;
    margin: 0 -10px;
    box-sizing: content-box;
    .category{
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      width: calc(100%/2 - 20px);
      height: 100%;
      img{
        width: 100%;
        cursor: pointer;
      }
      h3{
        text-align: center;
        line-height: 1.1;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: .75px;
        font-weight: 400;
        text-transform: capitalize;
      }
      p{
        margin-top: 30px;
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-size: .95rem;
          letter-spacing: 1.2px;
          padding: 11px 20px;
          border: 1px solid #252c26;
          color: #252c26;
          font-weight: 700;
          &:hover{
            border: 1px solid rgb(170, 170, 170);
            color: rgb(170, 170, 170);
          }
        }
      }
    }
  }
  .suggested-products{
    //margin-top: 20px;
    //padding: 12px;
    h4{
      font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
      font-weight: 500;
      font-size: 2rem;
      margin-top: 5rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 0;
      border-bottom: 1px solid #c9cac8;
      text-align: center;
      margin-bottom: 2rem;
      span{
        background-color: #fff;
        padding: 0 20px;

      }
    }
    .products-list{
      display: flex;
      justify-content: space-between;
      .carousel-item{
        .product-item-info{
          max-width: 210px;
          margin-top: 15px;
          margin-bottom: 11px;
          padding-bottom: 9px;
          padding-left: 20px;
          .product-item-photo{
            position: relative;
            .img-label{
              position: absolute;
              top: 19px;
              left: 19px;
            }
            img{
              margin-bottom: 10px;
            }
            span{
              text-decoration: none;
              text-transform: capitalize;
              color: #252c26;
              //line-height: 1.42857143;
              font-size: .9rem;
              letter-spacing: .01rem;
              font-weight: 650;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          .price-box{
            font-weight: 400;
            font-size: .9rem;
            margin: 5px 0;
            .deprecated-price{
              text-decoration: line-through;
            }
            .promo-price{
              color: #9a1a28;;
            }
          }
          &:hover{
            margin: 5px -10px 10px 10px;
            padding: 9px;
            border: 1px solid #fff;
            box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
            position: relative;
            z-index: 4;
            background: #fff;
            .img-label{
              top: 19px;
              left: 19px;
            }
          }
        }
      }
    }
  }
}

.youtube-videos{
  display: flex;

  justify-content: space-between;
  .player-wrapper{
    //flex: 0 49%;
    .vid-player{
      position: relative;
      overflow:hidden;
      //background-color: black;
      display: inline-flex;
      height: 100%;
      border: 6px solid hsla(70.76923076923077, 19.80%, 61.37%, 1.00);
      color: white;
      margin-bottom: 20px;
      iframe{
        position: absolute;
        left: 0;
        top:0;
        //visibility: hidden;
      }
      .youtube-thumbnail{
        img{
          //float:left;
          display: inline-flex;
          margin: -52px 0 -238px;
          position: relative;
          height: auto;
          transition: 450ms ease-in-out;
          z-index: 2;
          &:hover{
            -webkit-filter: brightness(40%);
            filter: brightness(40%);
          }
        }
        &:after, &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
        }
        &:after{
          margin-top: -30px;
          margin-left: -30px;
          width: 60px;
          height: 60px;
          border: 3px solid #ecf0f1;
          line-height: 50px;
          text-align: center;
          border-radius: 105%;
          background: rgba(0,0,0,0.5);
          z-index: 3;
        }
        &:before {
          content: '▶';
          left: 0;
          width: 100%;
          font-size: 30px;
          margin-left: 7px;
          margin-top: -18px;
          text-align: center;
          z-index: 4;
        }
      }
    }
    .vid-info{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 40px;
      border-bottom: 1px solid #c9cac8;
      h3{
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
      }
      span{
        font-weight: 400;
        font-size: .9rem;
        margin-bottom: 20px;
      }
      a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: 1px;
        padding: 11px 20px;
        border: 1px solid #252c26;
        color: #252c26;
        font-weight: 700;
        margin-bottom: 20px;
        &:hover{
          border: 1px solid rgb(170, 170, 170);
          color: rgb(170, 170, 170);
        }
      }
    }
  }
}
