html {
  padding: 0;
  margin: 0;
  height: 100%;
}
html body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  background: transparent;
}
html p {
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
}
html img {
  border: none;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
html strong {
  font-weight: bold;
}
html em {
  font-style: italic;
}
html form,
html menu,
html iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
html ol,
html ul,
html dl,
html li,
html dt,
html dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
html table {
  width: 100%;
  border-collapse: collapse;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
* {
  font-family: 'Roboto', sans-serif;
}
.top-bar-container {
  background: #2d2b31;
  padding: 10px 0;
  text-align: center;
}
.top-bar-container h3 {
  font-size: 18px;
  font-style: normal;
  margin: 1px 5px 0;
  color: #B3995A;
  font-weight: bold;
  line-height: 20px;
}
.top-bar-container p {
  line-height: 18px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
}
.top-bar-container p span {
  font-weight: 700;
}
.page-header {
  background: #a9b089;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-left: 25px;
  height: 127px;
}
.page-header .panel-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0 0;
}
.page-header .panel-header .shipping-info {
  font-size: 17px;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3;
  position: relative;
  color: white;
  padding-left: 20px;
}
.page-header .panel-header .shipping-info:before {
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  background-image: url("../images/tis-icon-globe.svg");
  display: inline-block;
  height: 12px;
  width: 12px;
}
.page-header .panel-header .account-currency .currency {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  margin: 15px 0;
}
.page-header .panel-header .account-currency .currency span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 5px;
  position: relative;
}
.page-header .panel-header .account-currency .currency span:after {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 1px solid #a9b089;
  border-bottom: 1px solid #a9b089;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right: 4px;
  top: 4px;
}
.page-header .panel-header .account-currency .account {
  font-size: 14px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}
.page-header .panel-header .account-currency .account:after {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;
  transform: rotate(45deg);
  margin-bottom: 3px;
}
.page-header .header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.page-header .header-content .phone-numbers {
  position: relative;
  padding-left: 20px;
  float: left;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-size: 15px;
}
.page-header .header-content .phone-numbers a {
  color: #252c26;
  text-decoration: none;
}
.page-header .header-content .phone-numbers a:hover {
  color: #060706;
  text-decoration: underline;
}
.page-header .header-content .phone-numbers:before {
  position: absolute;
  left: 0;
  content: "";
  background-image: url("../images/tis-icon-phone.svg");
  display: inline-block;
  height: 15px;
  width: 15px;
}
.page-header .header-content .logo {
  position: absolute;
  top: 95px;
  left: calc(50% - 145px);
  z-index: 5;
}
.page-header .header-content #search {
  margin-right: 40px;
  height: 30px;
  width: 240px;
  border: 0 solid #fff;
  padding: 0 35px 0 9px;
  background: #fff;
  background-clip: padding-box;
  border-radius: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font: 400 14px Arial;
}
.page-header .header-content #search::placeholder {
  text-transform: uppercase;
  color: #252c26;
  font: 600 13px Arial;
  background: #fff;
  background-clip: padding-box;
  border: 0 solid #c9cac8;
  border-radius: 0;
  height: 32px;
  line-height: 1.5;
  padding: 0 9px 0 5px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
.page-header .header-content #cart img {
  margin: 5px 30px -5px -35px;
}
.nav-bar {
  background: #e0e1dd;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
.nav-bar ul {
  list-style: none;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.nav-bar ul li {
  position: relative;
}
.nav-bar ul li .nav-menu {
  color: #252c26;
  letter-spacing: 1.5px;
  display: flex;
  padding: 15px 0 15px;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
}
.nav-bar ul li .sub-menu {
  display: none;
  border: none;
  width: 100%;
  box-shadow: none;
  border-top: 1px solid #252c26;
  padding: 15px 5px 20px 15px;
  text-align: left;
  background: #e0e1dd;
  font-weight: 400;
  position: absolute;
  left: 15px;
  color: #252c26;
}
.nav-bar ul li .sub-menu ul {
  display: block;
}
.nav-bar ul li:hover .nav-menu {
  border-bottom: black 3px solid;
}
.nav-bar ul li:hover td {
  vertical-align: top;
}
.nav-bar ul li:hover .sub-menu {
  min-width: 200px;
  width: auto;
  padding: 10px;
  display: block;
  z-index: 5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-bar ul li:hover .sub-menu li {
  padding: 5px;
}
.nav-bar ul li:hover .sub-menu li:hover {
  background: #ffffff;
}
.nav-bar ul li:hover .sub-menu a {
  color: #252c26;
}
.nav-bar .sub-menu-title {
  min-width: 260px;
}
.nav-bar .sub-menu-title span {
  text-transform: uppercase;
  padding: 0 100px 0 0;
  border-bottom: 1px solid #252c26;
  font-weight: 700;
}
.nav-bar .sub-menu-title:hover {
  background: #e0e1dd !important;
}
.hero-image {
  background-image: url('../images/hero-aran-sweaters-2020.jpg');
  width: 100%;
  height: 550px;
  color: #fff;
  font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
  z-index: 1;
  margin-top: -60px;
}
.hero-image .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.hero-image .flex-container .justify-lower {
  margin-top: 285px;
}
.hero-image .flex-container .justify-lower .banner-title {
  font-family: Times, serif;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  text-shadow: 0 0 30px #000;
  text-align: center;
}
.hero-image .flex-container .justify-lower .banner-text {
  font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  text-shadow: 0 0 22px #000, 0 0 8px #000;
  text-align: center;
}
.hero-image .flex-container .justify-lower .banner-buttons {
  text-align: center;
  margin-top: 30px;
}
.hero-image .flex-container .justify-lower .banner-buttons a {
  color: white;
  text-transform: uppercase;
  background-color: black;
  padding: 8px 20px;
  transition: color 0.4s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}
.banner-footer {
  padding: 10px 10px;
  background-color: #252525;
  text-align: center;
  color: white;
  position: relative;
}
.banner-footer span {
  position: relative;
  padding: 0 40px;
}
.banner-footer span:before {
  position: absolute;
  left: 0;
  content: "";
  background-image: url("../images/tis-logo2.png");
  display: inline-block;
  width: 18px;
  height: 18px;
  z-index: 50;
  background-size: contain;
}
.banner-footer span:after {
  position: absolute;
  right: 0;
  content: "";
  background-image: url("../images/tis-logo2.png");
  display: inline-block;
  width: 18px;
  height: 18px;
  z-index: 50;
  background-size: contain;
}
.widgets .widget-block {
  margin-bottom: 20px;
}
.widgets .usp-list-block {
  background-color: #f9f9f9;
  padding: 15px;
}
.widgets .usp-list-block .usp-list {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.widgets .usp-list-block .usp-list li {
  list-style: none;
  display: inline-flex;
  min-width: 250px;
  text-align: left;
  margin: 0;
  padding: 10px;
}
.widgets .usp-list-block .usp-list li a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
.widgets .usp-list-block .usp-list li a strong {
  text-transform: uppercase;
}
.widgets .featured-categories {
  background-color: white;
  display: flex;
  justify-content: center;
}
.widgets .featured-categories .featured-category {
  margin: 0 20px;
  box-sizing: border-box;
}
.widgets .featured-categories .featured-category img {
  width: 400px;
  height: 120%;
  cursor: pointer;
}
.widgets .featured-categories .featured-category .featured-category__content {
  opacity: 0.7;
  margin-top: -70px;
  text-align: center;
}
.widgets .featured-categories .featured-category .featured-category__content a {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
.widgets .ship-container {
  display: flex;
  padding: 25px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/maps.png);
  background-position: 50% 50%;
  background-size: 620px;
  text-transform: uppercase;
  margin-top: 90px;
}
.widgets .ship-container .ship-header-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #202020;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}
.widgets .ship-container .ship-sub-text {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
.widgets .exc-hero-banner {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/ex_collection_2020.jpg");
  background-position: 50% 0;
  background-size: cover;
  margin-bottom: 20px;
  cursor: pointer;
}
.widgets .exc-hero-banner .exc-hero-text {
  position: static;
  width: 300px;
  margin-right: 13%;
  flex: 0 0 auto;
  text-align: center;
}
.widgets .exc-hero-banner .exc-hero-text .exc-text-heading {
  margin-bottom: 5px;
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.widgets .exc-hero-banner .exc-hero-text .exc-text-sub {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 9px #000;
}
.widgets .exc-hero-banner .exc-hero-text .exc-button {
  margin-top: 15px;
  padding: 8px 35px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  border: 0;
  line-height: inherit;
  border-radius: 0;
}
.widgets .exc-hero-banner .exc-hero-text .exc-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.widgets .featured-categories__2x {
  display: flex;
  margin: 0 -10px;
  box-sizing: content-box;
}
.widgets .featured-categories__2x .category {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100%/2 - 20px);
  height: 100%;
}
.widgets .featured-categories__2x .category img {
  width: 100%;
  cursor: pointer;
}
.widgets .featured-categories__2x .category h3 {
  text-align: center;
  line-height: 1.1;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-transform: capitalize;
}
.widgets .featured-categories__2x .category p {
  margin-top: 30px;
}
.widgets .featured-categories__2x .category p a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1.2px;
  padding: 11px 20px;
  border: 1px solid #252c26;
  color: #252c26;
  font-weight: 700;
}
.widgets .featured-categories__2x .category p a:hover {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
}
.widgets .suggested-products h4 {
  font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 0;
  border-bottom: 1px solid #c9cac8;
  text-align: center;
  margin-bottom: 2rem;
}
.widgets .suggested-products h4 span {
  background-color: #fff;
  padding: 0 20px;
}
.widgets .suggested-products .products-list {
  display: flex;
  justify-content: space-between;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info {
  max-width: 210px;
  margin-top: 15px;
  margin-bottom: 11px;
  padding-bottom: 9px;
  padding-left: 20px;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .product-item-photo {
  position: relative;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .product-item-photo .img-label {
  position: absolute;
  top: 19px;
  left: 19px;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .product-item-photo img {
  margin-bottom: 10px;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .product-item-photo span {
  text-decoration: none;
  text-transform: capitalize;
  color: #252c26;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  font-weight: 650;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .product-item-photo span:hover {
  text-decoration: underline;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .price-box {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px 0;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .price-box .deprecated-price {
  text-decoration: line-through;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info .price-box .promo-price {
  color: #9a1a28;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info:hover {
  margin: 5px -10px 10px 10px;
  padding: 9px;
  border: 1px solid #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 4;
  background: #fff;
}
.widgets .suggested-products .products-list .carousel-item .product-item-info:hover .img-label {
  top: 19px;
  left: 19px;
}
.youtube-videos {
  display: flex;
  justify-content: space-between;
}
.youtube-videos .player-wrapper .vid-player {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  height: 100%;
  border: 6px solid hsl(70.76923077, 19.8%, 61.37%);
  color: white;
  margin-bottom: 20px;
}
.youtube-videos .player-wrapper .vid-player iframe {
  position: absolute;
  left: 0;
  top: 0;
}
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail img {
  display: inline-flex;
  margin: -52px 0 -238px;
  position: relative;
  height: auto;
  transition: 450ms ease-in-out;
  z-index: 2;
}
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail img:hover {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail:after,
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail:after {
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 105%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.youtube-videos .player-wrapper .vid-player .youtube-thumbnail:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 4;
}
.youtube-videos .player-wrapper .vid-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #c9cac8;
}
.youtube-videos .player-wrapper .vid-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.youtube-videos .player-wrapper .vid-info span {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.youtube-videos .player-wrapper .vid-info a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 11px 20px;
  border: 1px solid #252c26;
  color: #252c26;
  font-weight: 700;
  margin-bottom: 20px;
}
.youtube-videos .player-wrapper .vid-info a:hover {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
}
